# Docs / other
.cache/
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow
.nextflow.log*
.nextflow.pid

# Ignore Gradle build output directory
build
work
out
site
bin
