:root {
  --md-primary-fg-color: #19ab86;
  --md-primary-fg-color--light: #19ab86;
  --md-primary-fg-color--dark: #19ab86;
  --md-accent-fg-color: #1fd8a9;
  --md-accent-fg-color--light: #1fd8a9;
  --md-accent-fg-color--dark: #1fd8a9;
}

/* Bigger table font size */
.md-typeset table:not([class]) {
  font-size: 0.8rem;
}
