name: build docs
on:
  push:
    branches:
      - master
      - main
      - dev
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # fetch all commits/branches
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - name: Obtain version from MANIFEST.MF
        run: echo "plugin_version=$(grep "Plugin-Version" plugins/nf-schema/resources/META-INF/MANIFEST.MF | awk '{print $2}' | awk -F '.' '{print $1"."$2}')" >> $GITHUB_ENV
      - name: Setup git user
        run: |
          git config --global user.name "${{github.actor}}"
          git config --global user.email "${{github.actor}}@users.noreply.github.com"
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install dependencies
        run: pip install mkdocs-material pymdown-extensions pillow cairosvg mike
      - name: Build docs
        run: mike deploy --push --update-aliases ${{ env.plugin_version }} latest
      - name: Set default docs
        run: mike set-default --push latest
